*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  height: 100vh;
  background: #e3f9ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator{
  background: #3a4452;
  padding: 20px;
  border-radius: 10px;
}
.calculator form input{
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
box-shadow:
  -4px -4px 8px rgba(255, 255, 255, 0.2),
   4px  4px 8px rgba(0, 0, 0, 0.15);
  background: transparent;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}
form .display{
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
form .display input{
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}
form input.equal-btn{
  width: 145px;
}
form input.operator{
color: #33ffd8;
}
form .display input {
  overflow: hidden;
}
